<!DOCTYPE>
<html>

<head>
    <title>{{head_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/dialog-polyfill.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="wide-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{card_title}}</h2>
                </div>
                <div class="mdl-card__media">
                    <img id="image-elem" src="{{img}}" border="0" alt="" width="100%"/>
                </div>
                <div class="mdl-card__supporting-text">
                    <p><strong>Select all that apply</strong><br/>
                        The image contains...</p>
                    <!--table of switches-->
                    <div class="table">
                        <div>
                            <label for="switch_text" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                                <input type="checkbox" id="switch_text" class="mdl-switch__input">
                                <span class="mdl-switch__label">Text</span>
                            </label>
                        </div>
                        <div>
                            <label for="switch_character" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                                <input type="checkbox" id="switch_character" class="mdl-switch__input">
                                <span class="mdl-switch__label">Character</span>
                            </label>
                        </div>

                    </div>
                    <div class="table">
                        <div>
                            <label for="switch_logo" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                                <input type="checkbox" id="switch_logo" class="mdl-switch__input">
                                <span class="mdl-switch__label">Logo</span>
                            </label>
                        </div>
                        <div>
                            <label for="switch_empty" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                                <input type="checkbox" id="switch_empty" class="mdl-switch__input">
                                <span class="mdl-switch__label">Blank</span>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <button class="mdl-button mdl-js-button mdl-button--primary float-right" id="next-button">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>

<dialog id="dialog-correct" class="mdl-dialog correct">
    <h4 class="mdl-dialog__title" style="font-size: 31px;">Good job</h4>
    <div class="mdl-dialog__content">
        <p><strong>Just one more.</strong></p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button start float-right">Start</button>

    </div>
</dialog>
<dialog id="dialog-wrong" class="mdl-dialog incorrect">
    <h4 class="mdl-dialog__title" style="font-size: 31px;">Wrong answer</h4>
    <div class="mdl-dialog__content">
        <p id="error-message"></p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close float-right">Try again</button>
    </div>
</dialog>
<script src="js/dialog-polyfill.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script>
    var tutorial = false;
    var introduction = true;
    // @formatter:off
    var image_id = {{image_id}}; // image id currently being rated
    // @formatter:on

    var image = $("#image-elem");

    window.history.replaceState({ // save 1st image to history
        "image_id": image_id,
        "image_src": image.attr('src')
    }, "", '/anime/' + image_id);

    var nextButton = document.querySelector('#next-button');

    var dialog_correct = document.querySelector('#dialog-correct');
    var dialog_wrong = document.querySelector('#dialog-wrong');

    if (!dialog_correct.showModal) dialogPolyfill.registerDialog(dialog_correct);
    if (!dialog_wrong.showModal) dialogPolyfill.registerDialog(dialog_wrong);

    $("#next-button").click(function () {

        var answerText = $("#switch_text").prop("checked");
        var answerChar = $("#switch_character").prop("checked");
        var answerEmpty = $("#switch_empty").prop("checked");
        var answerLogo = $("#switch_logo").prop("checked");

        // if tutorial
        if (tutorial) {
            // todo implement tutorial
            // change card_title

            var answer = answerText && answerChar && !answerEmpty && !answerLogo;
            if (answer) {
                dialog_correct.showModal();
            } else {
                // error message
                var error = "";
                if (!answerText) error += "The image contains <strong>Text</strong><br/>";
                if (!answerChar) error += "The image contains a <strong>Character</strong><br/>";
                if (answerLogo) error += "There is <strong>no</strong> Logo in the image<br/>";
                if (answerEmpty) error += "The image is <strong>not</strong> Empty<br/>";
                dialog_wrong.querySelector("#error-message").innerHTML = error;
                dialog_wrong.showModal();
            }
        } else { // if not tutorial

            //            TODO: blank and character cannot be both true

        }
        // reset switches
        $('.mdl-js-switch').each(function (i, obj) {
            obj.MaterialSwitch.off();
            obj.MaterialSwitch.disable(); // disable switches until ajax arrives
        });
        nextButton.MaterialButton.disable();


        $.ajax({
            method: "POST",
            url: "/anime/next_image",
            dataType: "JSON",
            data: {
                "id": image_id,
                "text": answerText,
                "char": answerChar,
                "empty": answerEmpty,
                "logo": answerLogo
            },
            success: function (data) {
                console.log(data);
                image_id = data.id;
                image.attr('src', data.imgURL);
                image.on('load', function () {
                    // enable switches when image is loaded
                    $('.mdl-js-switch').each(function (i, obj) {
                        obj.MaterialSwitch.enable();
                    });
                    // enable next button
                    nextButton.MaterialButton.enable();
                });

                // update browser link
                window.history.pushState({
                    "image_id": image_id,
                    "image_src": image.attr('src')
                }, "", '/anime/' + image_id);

            },
            error: function (data) {
                console.log(data);
                alert("Error during saving");
                nextButton.MaterialButton.enable();

            }

        });
    });
    dialog_wrong.querySelector('.close').addEventListener('click', function () {
        dialog_wrong.close();
    });

    dialog_correct.querySelector('.start').addEventListener('click', function () {
        dialog_correct.close();
        // todo next tutorial
    });
    // back button replace img
    window.onpopstate = function(event) {
        image_id = event.state.image_id;
        image.attr('src', event.state.image_src);
    };
</script>

</body>

</html>
