<!DOCTYPE>
<html>

<head>
    <title>{{head_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">-->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css"/>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/dialog-polyfill.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
<div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="wide-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{card_title}}</h2>
                    <div id="info"><abbr title="<strong>Source: </strong>{{source}}" rel="tooltip"></abbr></div>
                </div>
                <div class="mdl-card__media" style="position:relative;z-index:0;">
                    <img id="image-elem" src="{{img}}" border="0" alt="" width="100%"/>
                </div>
                <div class="mdl-card__supporting-text">
                    <div id="switches" style="display: none">
                        <p id="description"><strong>Select all that apply</strong><br/>
                            The image contains...</p>
                        <!--table of switches-->
                        <div class="table">
                            <div>
                                <label for="switch_text" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                                    <input type="checkbox" id="switch_text" class="mdl-switch__input">
                                    <span class="mdl-switch__label">Text</span>
                                </label>
                            </div>
                            <div>
                                <label for="switch_character" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                                    <input type="checkbox" id="switch_character" class="mdl-switch__input">
                                    <span class="mdl-switch__label">Character</span>
                                </label>
                            </div>

                        </div>
                        <div class="table">
                            <div>
                                <label for="switch_logo" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                                    <input type="checkbox" id="switch_logo" class="mdl-switch__input">
                                    <span class="mdl-switch__label">Logo</span>
                                </label>
                            </div>
                            <div>
                                <label for="switch_empty" class="mdl-switch mdl-js-switch mdl-js-ripple-effect">
                                    <input type="checkbox" id="switch_empty" class="mdl-switch__input">
                                    <span class="mdl-switch__label">Blank</span>
                                </label>
                            </div>

                        </div>
                    </div>
                    <div id="intro">
                        I'm working on a program to distinguish between Anime and Cartoon based on their
                        <i><strong>style</strong></i>.<br/>
                        <br/>
                        I'm using Deep Learning and I need a big dataset. I've collected a lot of images and now I need
                        Your
                        help to label it.<br/><br/>

                    </div>
                    <div id="break" style="display: none">
                        After finishing the dataset I'm going to publish it for everyone to use.<br/>

                        <strong>Share with your friends too!</strong></br>
                        <div class="fb-share-button" data-href="http://animedata.azurewebsites.net/"
                             data-layout="button_count" data-size="large" data-mobile-iframe="true">
                            <a class="fb-xfbml-parse-ignore" target="_blank"
                               href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdawars.me/anime%2F&amp;src=sdkpreparse">Share</a>
                        </div>
                        <a class="twitter-share-button"
                           href="https://twitter.com/intent/tweet?text=Help%20us%20label%20this%20#anime%20#and%20cartoon%20dataset%20for%20#deeplearning"
                           data-size="large">Tweet</a>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <button class="mdl-button mdl-js-button mdl-button--primary" id="left-button">
                        Tutorial
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--primary float-right" id="right-button">
                        Start
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>

<dialog id="dialog-correct" class="mdl-dialog correct">
    <h4 id="correct_text" class="mdl-dialog__title" style="font-size: 31px;"></h4>
    <div class="mdl-dialog__content">
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button start float-right"></button>

    </div>
</dialog>

<dialog id="dialog-wrong" class="mdl-dialog incorrect">
    <h4 class="mdl-dialog__title" style="font-size: 31px;">Wrong answer</h4>
    <div class="mdl-dialog__content">
        <p id="error-message"></p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close float-right">Close</button>
    </div>
</dialog>
<script src="js/dialog-polyfill.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script>
    var descriptions = ["",
        "When you see any text e.g. writing, subtitles, cast in the picture, select <strong>Text</strong> below.",// -1
        "When you see a character (person) in the image, select <strong>Character</strong> below.<br/> The head of the character must be visible.",// -2
        "If you see the logo or watermark of a TV channel in the picture, select <strong>Logo</strong> below.",// -3
        "If the image has no objects, or recognisable shapes in it, select <strong>Blank</strong> below.<br/>E.g. empty sky, noise (even with text or logo)",// -4
        "<strong>Select all that apply</strong><br/>The image contains...",// -5
        "<strong>Select all that apply</strong><br/>The image contains..."// -6
    ];
    var correctDiagContents = [{},
        {
            title: "Correct",
            text: "<p>You selected the right answer</p>",
            button: "Next"
        }, {
            title: "Great",
            text: "<p>You selected the right answer</p>",
            button: "Next"
        }, {
            title: "Awesome",
            text: "<p>You selected the right answer</p>",
            button: "Next"
        }, {
            title: "Correct",
            text: "<p><strong>Now try one on your own</strong></p>",
            button: "Next"
        }, {
            title: "Good job",
            text: "<p><strong>Just one more.</strong></p>",
            button: "Next"
        }, {
            title: "Good job",
            text: "<p><strong>You have completed the tutorial.</strong><br/> Now starts the <i>real</i> challenge.</p>",
            button: "Start"
        },
    ];
    var tutCheck = [[],
        // text, char, logo, blank
        [true, false, false, false],
        [false, true, false, false],
        [false, false, true, false],
        [true, false, false, true],
        [true, true, false, false],
        [false, false, false, false]
    ];
    var tutorial = false;
    var image_id = parseInt("{{image_id}}"); // image id currently being rated

    $(document).ready(function () {
        if (image_id !== 0) {
            rightButton.text("Next");
            $('#intro').hide();
            $('#switches').show();
            leftButton.hide();
        }
    });

    var image = $("#image-elem");

    var leftButton = $('#left-button');
    var rightButton = $('#right-button');

    var dialog_correct = document.querySelector('#dialog-correct');
    var dialog_wrong = document.querySelector('#dialog-wrong');

    if (!dialog_correct.showModal) dialogPolyfill.registerDialog(dialog_correct);
    if (!dialog_wrong.showModal) dialogPolyfill.registerDialog(dialog_wrong);

    leftButton.click(function () {
        // start tutorial
        tutorial = true;
        image_id = -1;

        rightButton[0].MaterialButton.disable();
        rightButton.text("Next");
        $('#intro').hide();
        $('#switches').show();
        leftButton.hide();

        getNextImage({
            "id": image_id
        });
    });

    function getNextImage(data) {
        if (tutorial) {
            $('#description').html(descriptions[-image_id]);
            $('.mdl-card__title-text').text("Tutorial (" + (-image_id) + " / 6)");
        } else {
            $('.mdl-card__title-text').text("Labeling images");
        }

        // reset switches
        $('.mdl-js-switch').each(function (i, obj) {
            obj.MaterialSwitch.off();
            obj.MaterialSwitch.disable(); // disable switches until ajax arrives
        });
        rightButton[0].MaterialButton.disable();

        $.ajax({
            method: "POST",
            url: "/anime/next_image",
            dataType: "JSON",
            data: data,
            success: function (res) {
                console.log(res);
                image_id = res.id;
                console.log("setting source to " + res.imgSrc);
                $('#info').find('abbr').attr('title', "<strong>Source: </strong> " + res.imgSrc);

                image.attr('src', res.imgURL);
                image.on('load', function () {
                    // enable switches when image is loaded
                    $('.mdl-js-switch').each(function (i, obj) {
                        obj.MaterialSwitch.enable();
                    });
                    // enable next button
                    rightButton[0].MaterialButton.enable();
                });
                image.on('error', function () {
                    // enable switches when image is loaded
                    $('.mdl-js-switch').each(function (i, obj) {
                        obj.MaterialSwitch.enable();
                    });
                    // enable next button
                    rightButton[0].MaterialButton.enable();
                    alert('Image failed to load :(');
                });

                // update browser link
                /*window.history.pushState({
                 "image_id": image_id,
                 "image_src": image.attr('src')
                 }, "", '/anime/' + image_id);
                 */
            },
            error: function (data) {
                console.log(data);
                alert("Error during saving");
                rightButton[0].MaterialButton.enable();

            }

        })
    }

    rightButton.click(function () {
        leftButton.hide();
        rightButton.text("Next");
        $('#intro').hide();
        $('#switches').show();

        var answerText = $("#switch_text").prop("checked");
        var answerChar = $("#switch_character").prop("checked");
        var answerEmpty = $("#switch_empty").prop("checked");
        var answerLogo = $("#switch_logo").prop("checked");

        // if tutorial
        if (tutorial) {
            // error message
            var error = "";
            if (answerText !== tutCheck[-image_id][0]) {
                if (answerText)
                    error += "The image does <strong>not</strong> contain text<br/>";
                else
                    error += "The image contains <strong>Text</strong><br/>";
            }
            if (answerChar !== tutCheck[-image_id][1]) {
                if (answerChar)
                    error += "The image contains <strong>no</strong> Character<br/>";
                else
                    error += "The image contains a <strong>Character</strong><br/>";
            }
            if (answerLogo !== tutCheck[-image_id][2]) {
                if (answerLogo)
                    error += "There is <strong>no</strong> Logo in the image<br/>";
                else
                    error += "The image contains a <strong>Logo</strong><br/>";
            }
            if (answerEmpty !== tutCheck[-image_id][3]) {
                if (answerEmpty)
                    error += "The image is <strong>not</strong> Empty<br/>";
                else
                    error += "The image is <strong>Empty</strong><br/>";
            }

            if (error === "") {

                var dialogCorrect = $('#dialog-correct');

                var i = -image_id;
                dialogCorrect.find('.mdl-dialog__title').text(correctDiagContents[i]["title"]);
                dialogCorrect.find('.mdl-dialog__content').html(correctDiagContents[i]["text"]);
                dialogCorrect.find('button.start').text(correctDiagContents[i]["button"]);

                dialog_correct.showModal();
            } else {
                dialog_wrong.querySelector("#error-message").innerHTML = error;
                dialog_wrong.showModal();
            }
            return; // don't continue

        } else { // if not tutorial

            // TODO: blank and character cannot be both true

            window.history.replaceState({ // save 1st image to history
                "image_id": image_id,
                "image_src": image.attr('src')
            }, "", '/anime/' + image_id);
        }

        getNextImage({
            "id": image_id,
            "text": answerText,
            "char": answerChar,
            "empty": answerEmpty,
            "logo": answerLogo
        });
    })
    ;
    dialog_wrong.querySelector('.close').addEventListener('click', function () {
        dialog_wrong.close();
    });

    dialog_correct.querySelector('.start').addEventListener('click', function () {
        // check status of tutorial
        // track tutorial progress
        if (tutorial) {
            if (image_id > -6) {
                image_id--;
            } else {
                image_id = 0;
                tutorial = false;
            }
        }
        getNextImage({"id": image_id});

        dialog_correct.close();
    });
    // fixme back button replace img
    /*window.onpopstate = function (event) {
     image_id = event.state.image_id;
     image.attr('src', event.state.image_src);
     };*/
</script>
<script>$(function () {
    var targets = $('[rel~=tooltip]'),
        target = false,
        tooltip = false,
        title = false;

    targets.bind('mouseenter', function () {
        target = $(this);
        tip = target.attr('title');
        tooltip = $('<div id="tooltip"></div>');

        if (!tip || tip == '')
            return false;

        target.removeAttr('title');
        tooltip.css('opacity', 0)
            .html(tip)
            .appendTo('body');

        var init_tooltip = function () {
            if ($(window).width() < tooltip.outerWidth() * 1.5)
                tooltip.css('max-width', $(window).width() / 2);
            else
                tooltip.css('max-width', 340);

            var pos_left = target.offset().left + ( target.outerWidth() / 2 ) - ( tooltip.outerWidth() / 2 ),
                pos_top = target.offset().top - tooltip.outerHeight() - 20;

            if (pos_left < 0) {
                pos_left = target.offset().left + target.outerWidth() / 2 - 20;
                tooltip.addClass('left');
            }
            else
                tooltip.removeClass('left');

            if (pos_left + tooltip.outerWidth() > $(window).width()) {
                pos_left = target.offset().left - tooltip.outerWidth() + target.outerWidth() / 2 + 20;
                tooltip.addClass('right');
            }
            else
                tooltip.removeClass('right');

            if (pos_top < 0) {
                var pos_top = target.offset().top + target.outerHeight();
                tooltip.addClass('top');
            }
            else
                tooltip.removeClass('top');

            tooltip.css({left: pos_left, top: pos_top})
                .animate({top: '+=10', opacity: 1}, 50);
        };

        init_tooltip();
        $(window).resize(init_tooltip);

        var remove_tooltip = function () {
            tooltip.animate({top: '-=10', opacity: 0}, 50, function () {
                $(this).remove();
            });

            target.attr('title', tip);
        };

        target.bind('mouseleave', remove_tooltip);
        tooltip.bind('click', remove_tooltip);
    });
});
</script>
</body>

</html>
