<!DOCTYPE>
<html>

<head>
    <title>Anime Image Classification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/dialog-polyfill.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>

<body>
<div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="wide-card mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Anime or Cartoon</h2>
                </div>
                <div class="mdl-card__media">
                    <img src="../static/img/aang.jpg" border="0" alt="Avatar Aang" width="100%"/>
                </div>
                <div class="mdl-card__supporting-text">
                    I'm working on a program to distinguish between Anime and Cartoon based on their
                    <i><strong>style</strong></i>.<br/>
                    <br/>
                    I'm using Deep Learning and I need a big dataset. I've collected a lot of images and now I need Your
                    help to sort it.<br/><br/>
                    <!--After finishing the dataset I'm going to publish it for everyone to use.<br/>-->
                    <!--
                    <strong>Share with your friends too!</strong></br>
                    <div class="fb-share-button" data-href="http://animedata.azurewebsites.net/"
                         data-layout="button_count" data-size="large" data-mobile-iframe="true"><a
                            class="fb-xfbml-parse-ignore" target="_blank"
                            href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fanimedata.azurewebsites.net%2F&amp;src=sdkpreparse">Share</a>
                    </div>
                    <a class="twitter-share-button"
                       href="https://twitter.com/intent/tweet?text=Help%20us%20label%20this%20#anime%20#and%20cartoon%20dataset%20for%20#deeplearning"
                       data-size="large">Tweet</a>-->
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <!--<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect "-->
                    <!--href="rate.html">Skip tutorial</a>-->
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect float-right"
                       href="tutorial1.html">Start</a>
                </div>
            </div>
        </div>
    </main>
    <!--<footer class="mdl-mini-footer">-->
        <!--<div class="mdl-mini-footer__top-section" style="margin: 0 auto">-->
            <!--<div class="mdl-mini-footer__right-section">-->
                <!--<p>&copy; Dawars 2017</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</footer>-->
</div>
</body>

</html>
