.wide-card {
    /*margin: 10px;*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mdl-card__supporting-text {
    color: rgba(0, 0, 0, .70);
}

div.table {
    margin: 0 auto;
    display: table;
    width: 250px;
    table-layout: fixed;
}

div.table > div {
    display: table-cell;
    padding: 4px 6px;
    width: 2%;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.87);
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .wide-card {
        width: 100%;
    }

    .page-content {
        padding: 0 10px 0 10px;
    }
}

/* recaptcha center*/
/* already defined in bootstrap4 */
.text-xs-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.float-right {
    float: right;
}

.mdl-button {
    width: 96px;
}

dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2000;
}

.correct {
    background-color: #00c853;
}

.correct, .correct p, .correct a, .correct button, .incorrect, .incorrect p, .incorrect a, .incorrect button {
    color: #ffffff;
}

.incorrect {
    background-color: #d50000;
}