.wide-card {
    /*margin: 10px;*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mdl-card__supporting-text {
    color: rgba(0, 0, 0, .70);
}

div.table {
    margin: 0 auto;
    display: table;
    width: 250px;
    table-layout: fixed;
}

div.table > div {
    display: table-cell;
    padding: 4px 6px;
    width: 2%;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.87);
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .wide-card {
        width: 100%;
    }

    .page-content {
        padding: 0 10px 0 10px;
    }
}

/* recaptcha center*/
/* already defined in bootstrap4 */
.text-xs-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}

.mdl-button {
    width: 96px;
}

dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2000;
}

.correct {
    background-color: #00c853;
}

.correct, .correct p, .correct a, .correct button, .incorrect, .incorrect p, .incorrect a, .incorrect button {
    color: #ffffff;
}

.incorrect {
    background-color: #d50000;
}

#tooltip {
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}

/*#tooltip:after /* triangle decoration /
{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111;
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
}

#tooltip.top:after {
    border-top-color: transparent;
    border-bottom: 10px solid #111;
    top: -15px;
    bottom: auto;
}

#tooltip.left:after {
    left: 10px;
    margin: 0;
}

#tooltip.right:after {
    right: 10px;
    left: auto;
    margin: 0;
}
*/
/*----------*/
#info {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, .05);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*padding: 5px;*/
    /*margin: 0 auto 50px;*/
    right: 16px;
    position: absolute;
}

#info:hover {
    background-color: rgba(0, 0, 0, .1);
}

#info abbr {
    height: 100%;
    font-size: 1.188em;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    /*text-shadow: 0 1px rgba(0, 0, 0, .25);
    color: #fff;
    background: #03a9f4;
    background: -webkit-gradient(linear, left top, left bottom, from(#03a9f4), to(#0a8abc));
    background: -webkit-linear-gradient(top, #03a9f4, #0a8abc);
    background: -moz-linear-gradient(top, #03a9f4, #0a8abc);
    background: -ms-radial-gradient(top, #03a9f4, #0a8abc);
    background: -o-linear-gradient(top, #03a9f4, #0a8abc);
    background: linear-gradient(top, #03a9f4, #0a8abc);*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: none;
    background: url("/anime/img/info.svg");
    cursor: pointer;
    display: block;
    text-decoration: none;

}

#info {
    text-decoration: none;
}
