.wide-card {
    /*margin: 10px;*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .wide-card {
        width: 100%;
    }

    .page-content {
        padding: 0 10px 0 10px;
    }
}

/* recaptcha center*/
/* already defined in bootstrap4 */
.text-xs-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.float-right {
    float: right;
}

th {
    font-weight: normal;
    text-align: left;
}

dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2000;
}

.correct {
    background-color: #00c853;
}

.correct, .correct p, .correct a, .incorrect, .incorrect p, .incorrect a, .incorrect button {
    color: #ffffff;
}

.incorrect {
    background-color: #d50000;
}